

<!--Modal-->
<div class="modal fade" bsModal tabindex="-1" role="dialog" #chatModal="bs-modal" [config]="{backdrop: 'static',keyboard: false}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header draggable-handle">
        <h2>Angular Chat Bot</h2>
        <button type="button" class="close outline" data-dismiss="modal" aria-label="Close" (click)="chatModal.hide();clearOldMessage()"><span aria-hidden="true">×</span></button>
      </div>
      <div class="modal-body angular-chat ">
        <div class="angularbot-scroll angularbot-scroll-table" id="chatId">
          <ng-container *ngFor="let message of messages | async">
            <div class="message"   [ngClass]="{ 'from': message.sentBy === 'bot', 'to':   message.sentBy === 'user' }">
              {{ message.content }}
            </div>
          </ng-container>
        </div>
        <div>
          <div class="row">
            <div class="col-11">
              <label>Your Message</label>
              <textarea placeholder="Start typing here..." [(ngModel)]="formValue"  (keyup)="canSend($event)" (keydown)="textValidation($event);" id="chatText">
              </textarea>
            </div>
            <div class="col-1">
              <button class="btn chat-btn-icon" [disabled]='!formValue'(click)="sendMessage();">
                <img  src="assets/images/send.png" width="45px">
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





<body>
  <div class="container py-5 px-4">
    <!-- For demo purpose-->
    <header class="text-center">
      <h1 class="display-4 text-white">Angular ChatBot</h1>
      <p class="text-white lead mb-0">A chatbot simulates conversations with human users, especially over the Internet.</p>
    </header>
  </div>
  <!--chat icon-->
  <div class="container ">
    <div class="row">
      <button class="open-button font24" (click)="openForm()">Chat <i class='fas fa-comment-dots'></i></button>
    </div>
  </div>
</body>
